@font-face {
    font-family: 'xiibicon';
    src: url('https://www.xiiber.com/lib/fonts/xiibicon.eot?38r2qz');
    src: url('https://www.xiiber.com/lib/fonts/xiibicon.eot?38r2qz#iefix') format('embedded-opentype'), url('https://www.xiiber.com/lib/fonts/xiibicon.ttf?38r2qz') format('truetype'), url('https://www.xiiber.com/lib/fonts/xiibicon.woff?38r2qz') format('woff'), url('https://www.xiiber.com/lib/fonts/xiibicon.svg?38r2qz#xiibicon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'xiibicon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sitemap:before {
    content: "\e900";
}

.icon-error:before {
    content: "\e901";
}

.icon-error_outline:before {
    content: "\e902";
}

.icon-content_copy:before {
    content: "\e903";
}

.icon-directions_bike:before {
    content: "\e904";
}

.icon-directions_bus:before {
    content: "\e905";
}

.icon-directions_ferry:before {
    content: "\e906";
}

.icon-local_grocery_store:before {
    content: "\e907";
}

.icon-directions_run:before {
    content: "\e908";
}

.icon-departure_board:before {
    content: "\e909";
}

.icon-fastfood:before {
    content: "\e90a";
}

.icon-menu:before {
    content: "\e90b";
}

.icon-keyboard_control:before {
    content: "\e90c";
}

.icon-more_vert:before {
    content: "\e90d";
}

.icon-arrow_back_ios:before {
    content: "\e90e";
}

.icon-arrow_forward_ios:before {
    content: "\e90f";
}

.icon-cake:before {
    content: "\e910";
}

.icon-star:before {
    content: "\e911";
}

.icon-star_outline:before {
    content: "\e912";
}

.icon-account_circle:before {
    content: "\e913";
}

.icon-favorite:before {
    content: "\e914";
}

.icon-favorite_outline:before {
    content: "\e915";
}

.icon-touch_app:before {
    content: "\e916";
}

.icon-motorcycle:before {
    content: "\e917";
}

.icon-pets:before {
    content: "\e918";
}

.icon-rowing:before {
    content: "\e919";
}

.icon-add_business:before {
    content: "\e91a";
}

.icon-location_pin:before {
    content: "\e91b";
}

.icon-person_add_alt_1:before {
    content: "\e91c";
}

.icon-person_remove:before {
    content: "\e91d";
}

.icon-person_search:before {
    content: "\e91e";
}

.icon-self_improvement:before {
    content: "\e91f";
}

.icon-soap:before {
    content: "\e920";
}

.icon-sports_bar:before {
    content: "\e921";
}

.icon-tapas:before {
    content: "\e922";
}

.icon-verified:before {
    content: "\e923";
}

.icon-wash:before {
    content: "\e924";
}

.icon-wheelchair_pickup:before {
    content: "\e925";
}

.icon-book_online:before {
    content: "\e926";
}

.icon-clean_hands:before {
    content: "\e927";
}

.icon-follow_the_signs:before {
    content: "\e928";
}

.icon-xiiber:before {
    content: "\e929";
}

.icon-date_range_black_24dp:before {
    content: "\e92a";
}

.icon-home_black_24dp:before {
    content: "\e92b";
}

.icon-local_activity_black_24dp:before {
    content: "\e92c";
}

.icon-luggage_black_24dp:before {
    content: "\e92d";
}

.icon-notifications_black_24dp:before {
    content: "\e92e";
}

.icon-pokebola-24px:before {
    content: "\e92f";
}

.icon-alertas:before {
    content: "\e930";
}

.icon-calendario:before {
    content: "\e931";
}

.icon-elipsis:before {
    content: "\e932";
}

.icon-elipsix .path1:before {
    content: "\e933";
    color: rgb(0, 0, 0);
}

.icon-elipsix .path2:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-experiencias:before {
    content: "\e935";
}

.icon-home:before {
    content: "\e936";
}

.icon-ico .path1:before {
    content: "\e937";
    color: rgb(32, 30, 30);
}

.icon-ico .path2:before {
    content: "\e938";
    margin-left: -1em;
    color: rgb(32, 30, 30);
}

.icon-notificaciones:before {
    content: "\e939";
}

.icon-playa:before {
    content: "\e93a";
}

.icon-poppers:before {
    content: "\e93b";
}

.icon-sexoral-1:before {
    content: "\e93c";
}

.icon-verga-1:before {
    content: "\e93d";
}

.icon-viajes:before {
    content: "\e93e";
}

.icon-xiiber-circular:before {
    content: "\e93f";
}

.icon-xiiber-one .path1:before {
    content: "\e940";
    color: rgb(0, 53, 108);
}

.icon-xiiber-one .path2:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(254, 254, 254);
}

.icon-xiiber-one .path3:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(254, 254, 254);
}

.icon-xiiber-simple:before {
    content: "\e943";
    color: #000;
}