body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background: #fff8d1;
}

svg {
  width: 180px;
}

#body {
  cursor: pointer;
}

#arm-left,
#arm-right {
  pointer-events: none !important;
}

.st0 {
  fill: none;
  stroke: #9b3f13;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #e85a4c;
  stroke: #9b3f13;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st2 {
  fill: #e0433d;
}

.st3 {
  fill: #ffd610;
  stroke: #9b3f13;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st4 {
  fill: #fdb501;
}

.st5 {
  opacity: 0.52;
  fill: #fdb501;
  enable-background: new;
}

.st6 {
  fill: #fee38c;
}

.st7 {
  fill: #e95a4d;
  stroke: #9b3f13;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st8 {
  fill: #ef8d70;
  stroke: #9b3f13;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st9 {
  fill: #9b3f13;
}

.st10 {
  fill: #ffffff;
  stroke: #9b3f13;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st11 {
  fill: #ffffff;
}

.st12 {
  fill: #f79c00;
  stroke: #9b3f13;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st13 {
  fill: #fcae01;
}

.st14 {
  fill: #f27e10;
}

.st15 {
  fill: #ffd610;
}

.st16 {
  fill: none;
  stroke: #9b3f13;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st17 {
  fill: none;
  stroke: #9b3f13;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

#arm-left-morph,
#arm-left-morph-1,
#arm-left-morph-2,
#arm-left-morph-3,
#arm-left-morph-4,
#arm-right-morph,
#arm-right-morph-1,
#arm-right-morph-2,
#arm-right-morph-3,
#arm-right-morph-4,
#arm-right-morph-5,
#arm-left-morph-5,
#arm-left-morph-6 {
  opacity: 0;
}

.fab {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #1da1f2;
  font-size: 36px;
  cursor: pointer;
}